/*================ 
Hero
================*/
.hero {
  background-color: #F8FAFA;
  background-image: url("../img/artificial-intelligence-blur-close-up-546819.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  color:white;
  position: relative;
  z-index: 0;
}

.hero:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(58, 57, 58, 0.8); 
}

.hero__buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 5em;
  border-radius: 5px;
}

.hero__center {
  padding-top: 8vh;
}