/*================ 
Hero
================*/
.hero {
  background-color: #2A2A2E;
  color:white;
  display: flex;
}

.hero:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(58, 57, 58, 0.8); 
}

.hero__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
  border-radius: 5px;
}

@media screen and (max-width: 350px) {
  .hero__buttons {
    margin-top: 2em;
  }
}

.hero__left{
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding-top: 4em;
  max-width: 30em;
}

.hero__right{
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding: 3em 0;
  max-width: 30em;
}


@media screen and (min-width: 768px){

  /* .hero__left{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    margin: auto;
    padding-top: 4em;
    max-width: 30em;
  }
  
  .hero__right{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    margin: auto;
    padding: 3em 0;
    max-width: 30em;
  } */

}