/*================ 
Hero
================*/
.hero {
  background-color: #F8FAFA;
  background-image: url("../img/artificial-intelligence-blur-close-up-546819.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  color:white;
  position: relative;
  z-index: 0;
}

.hero:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(58, 57, 58, 0.8); 
}

.hero__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
  border-radius: 5px;
}

@media screen and (max-width: 350px) {
  .hero__buttons {
    margin-top: 2em;
  }
}

.hero__center {
  padding-top: 8vh;
}

.hero__skills-box {
  background-color: #92B8D1;
  border-radius: 5px;
  margin: 30px 0;
  text-align: center;
  width: 25em;
  height: 120px;
  line-height: 120px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.1);
  -moz-box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.1);
  box-shadow: 0px 5px 20px 0px rgba(75, 79, 124, 0.1);
}

.hero__right{
  display: none;
}

.large-rec{
  display: none;
}


@media screen and (min-width: 768px){
  .hero{
    display: flex;
  }

  .hero__center {
    padding-top: 0;
  }
  
  .hero__left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .hero__right{
    max-width: 30em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .large-rec{
    background-color: var(--main-blue);
    height: 150px;
    width: 620px;
    position: absolute;
    top: -40px;
    left: -80px;
    z-index: 1;
  }
}