*{
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
    height: 100%; 
    font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}

.container {
    text-align: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

a {
  color: white;
  text-decoration: none;
}

p {
  font-size: 1.5em;
  font-weight: 300;
}

h2{
  font-weight: 400;
}

.lg-heading {
  font-size: 2.25em;
  font-weight: 500;
}

.md-heading {
 font-size: 1.25em;
 font-weight: 300;
}

.btn {
  color: white;
  padding: 20px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 5px;
}

.btn--48 {
  width: 48%;
}

.btn--50 {
  width: 50%;
  border-radius: 0;
}

.btn:hover {
  opacity: 1;
}

.btn--primary {
  background-color: #2D94F4;
}

.btn--secondary {
  background-color: #737894;
}

/* Set a style for the submit button */
.btn--100 {
  width: 100%;
}

.btn--100:hover {
  opacity: 1;
}